/* Estilos base del portafolio Los Gitadores */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #00aaff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

#miembros, #lista-proyectos {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Tarjetas de miembros */
.miembro {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.miembro-pablo {
    background: linear-gradient(135deg, #8e59c4 0%, #f9f9fa 100%);
    color: aliceblue;
    border-radius: 10px;
}

.miembro-pablo:hover {
    transform: translateX(-30px);
    box-shadow: 0 8px 20px rgba(37, 15, 175, 0.4);

}

.miembro-ivan {
    background: linear-gradient(135deg, #1d46fc 0%, #a4c459 100%);
    color: aliceblue;
    border-radius: 10px;
}

.miembro-ivan:hover {
    transform: translateX(-30px);
    box-shadow: 0 8px 20px rgba(37, 15, 175, 0.4);

}

.miembro-marcos {
    background: linear-gradient(135deg, #0530ee 0%, #f71414 100%);
    color: aliceblue;
    border-radius: 10px;
}

.miembro-marcos:hover {
    transform: translateX(-30px);
    box-shadow: 0 8px 20px rgba(8, 8, 8, 0.4);

}

.miembro-erik {
    background: linear-gradient(135deg, #9834a4 35%, #611de0 100%);
    color: white;
    border-left: 5px solid #9742fa;
    transition: transform 0.3s ease;
}

.miembro-erik:hover {
    transform: translateX(-30px);
    box-shadow: 0 8px 20px rgba(72, 52, 212, 0.4);

}
